<h2>All Students</h2>
<section>
  <dl class="faq">
    <% @all_students.each() do |a_student| %>
    <dt>
      Name :<%= a_student.first_name %> <%= a_student.last_name %>
    </dt>
    <dd><a href="/students/<%= a_student.id%>">Details</a></dd>
    <% end %>
  </dl>
</section>
