<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
</head>
<body>

<nav>
  <a href ="/students">All Students</a>
  <a href ="/students/new">Create Student</a>
</nav>
  <%= yield %>
</body>
</html>