<form action='/students' method="POST">

<label for="First-Name">First Name:</label>
<input type="text" id="First-Name" name="first_name"/>

<label for="Last-Name">Last Name:</label>
<input type="text" id="Last-Name" name="last_name"/>

<label for="a-house">House:</label>
  <select id="a-house" name="house">
   <option value="Burns">Burns</option>
   <option value="Cards">Cards</option>
  </select>

<label for="age">Age:</label>
<input type="text" id="age" name="age"/>

<input type="submit" value="Create Student">



</form>